@model ZooVrt.Entities.Rezervacija

@{
    ViewBag.Title = "Details";
}
<br />
<h2><b>Detalji o rezervaciji</b></h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Korisnicko ime:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korisnickoIme)
        </dd>

        <dt>
            Dogadjaj:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogadjaj)
        </dd>

        <dt>
            Termin:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin)
        </dd>
        <dt>
            Broj rezervisanih karata:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brRezervisanihKarata)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_BackToListButtonPartial")
</p>
