@model IEnumerable<ZooVrt.Entities.Rezervacija>
@using ZooVrt.Areas.Radnik.Models;

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2><b>Rezervacije</b></h2>
<br />

<table class="table table-striped">
    <tr class="success">
        <th>
            Korisnicko ime
        </th>
        <th>
            Dogadjaj
        </th>
        <th>
            Termin
        </th>
        <th>
            Broj rezervisanih karata
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.korisnickoIme)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.dogadjaj)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.termin)
        </td> 
        <td>
            @Html.DisplayFor(modelitem => item.brRezervisanihKarata)
        </td> 
        <td>
            @Html.Partial("_DetailsButtonPartial", item.rezervacijaID)
        </td>     
        
    </tr>
}

</table>
