@model IEnumerable<ZooVrt.Entities.Dogadjaj>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cenaKarte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cenaKarte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dogadjajId }) |
            @Html.ActionLink("Details", "Details", new { id=item.dogadjajId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dogadjajId })
        </td>
    </tr>
}

</table>
