@model IEnumerable<ZooVrt.Entities.Dogadjaj>
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2><b>Dogadjaji</b></h2>
<br />
<p>
    <div>
        @Html.Partial("_NapraviRezervacijuPartial")
    </div>
</p>
<table class="table table-striped">
    <tr class="success">
        <th>
            Naziv dogadjaja
        </th>
        <th>
            Datum odrzavanja
        </th>
        <th>
            Cena karte
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cenaKarte)
            </td>
            <td>
                @Html.Partial("_DetaljiODogadjajuPartial", item.dogadjajId)
            </td>

        </tr>
    }
</table>