@model ZooVrt.Entities.Termin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vreme pocetka:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vremePocetka)
        </dd>

        <dt>
            Vreme kraja:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vremeKraja)
        </dd>

        <dt>
            Broj karata:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brKarata)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_EditButtonPartial", Model.terminID)
    @Html.Partial("_BackToListButtonPartial")
</p>
