@model IEnumerable<ZooVrt.Entities.Termin>
@using ZooVrt.Areas.Radnik.Models;

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2><b>Termini</b></h2>
<br />

<p>
    @Html.Partial("_CreateButtonPartial")
</p>

<table class="table table-striped">
    <tr class="success">
        <th>
            Vreme pocetka
        </th>
        <th>
            Vreme kraja
        </th>
        <th>
            Broj karata
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vremePocetka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vremeKraja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brKarata)
        </td>       
            @Html.Partial("_TableButtonsPartial", new SmallButtonModel { terminId = item.terminID })
    </tr>
}

</table>
